@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
}

:root{
	--color-blanco:#fff;
	--color-negro:#000;
	--bg:#f2f2f2;
	--azul-brillante:#3f53d0;
	--azul-medio:#527ee1;
	--turquesa:#1cccca;
	--verde-menta:#50dfb4;
	
	
	
}

header {
    background-color: var(--color-negro);
    border-bottom: 1px solid #ccc;
}

#navbar a{
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: var(--color-blanco);
}

.btn{
	border-radius: 20px;
	text-align: center;
	font-family: "Lato", sans-serif;
	font-size: 12px;
	font-weight: 600;
}

.btn-outline-dark{
	color: var(--color-blanco);
	background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(82,126,225,1) 35%, rgba(28,204,202,1) 100%);
}

.btn-outline-dark:hover{
	color: var(--bg);
	background:var(--turquesa);
}

.icon-square{
	height: auto;
	width: auto;
	line-height: 100px;
	background-color: #fff;
	box-shadow: 0px 0px 15px 4px #f2f2f2;
}

#hero h1{
	padding: 7% 0%;
}

.section{
	padding: 8% 0;
}

h1{
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	padding: 10px 0px 0px 0px;
}

#servicios h2,
#portafolio h2{
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 40px;
	padding: 5px 0px;
}

p{
	font-family: "Lato", sans-serif;
	font-size: 12px;
}

.btn{
	border-radius: 20px;
	text-align: center;
	font-family: "Lato", sans-serif;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 20px;
}


#servicios{
	background-color: var(--bg);
	text-align: center;
}

#servicios h3{
	color: var(--azul-brillante);
	font-size: 20px;
	font-weight: 500;
	margin:25px 0px;
}

#icons-contact{
	text-align: center;
	color: var(--color-blanco);
	margin-top: -7%;
}

#icons-contact i{
	width: 75px;
	height: 75px;
	line-height: 75px;
	background-color: rgba(255,255,255,0.22);
	border-radius: 100%;
	margin-bottom: 20px;
	font-size: 24px;
}

#icons-contact .section{
	padding: 5% 0;
}


#contact-form input,
#contact-form textarea{
	background-color: var(--bg);
	padding: 10px;
	border: 0;
	border-radius: 0;
	color: #aaa;
	font-size: 14px;
}

.icon-circle{
	height: 100px;
	width: 100px;
	line-height: 100px;
	background-color: #fff;
	box-shadow: 0px 0px 15px 4px #f2f2f2;
	border-radius: 100%;
	color: var(--azul-brillante);
	font-size: 40px;
	transition: all 0.3s ease-in-out;
}

.icon-circle:hover{
	color: var(--color-blanco);
	background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(82,126,225,1) 35%, rgba(28,204,202,1) 100%);
	transition: all 0.3s ease-in-out;
}

footer{
	background-color: var(--color-negro);
	padding: 50px 0px 50px 50px;
}

footer p{
	font-size: 12px;
	color: var(--color-blanco);
	padding: 0px 0px 0px 40px;
}

footer i{
	color: var(--color-blanco);
	font-size: 20px;
}


.app-carousel {

    padding: 0 6%;

}

.app-carousel .center .single-shot {

    opacity: 1;

    transform: scale(1);

}

.app-carousel .single-shot {

    opacity: 0.8;

    transform: scale(0.8);

}



.app-carousel .owl-dots {

    text-align: center;

}

.app-carousel .owl-dot {

    height: 11px;

    width: 11px;

    border: 2px solid #a49fba !important;

    border-radius: 50%;

    margin: 35px 6px;

}

.app-carousel .owl-dot.active {

    background-color: var(--turquesa);

    border: 0 !important;

}
